{% extends 'base.html' %}
{% block content %}

		<!-- Main -->
			<div id="main">
				{% for perfil in perfil %}

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>Drª {{ perfil.name }}<br />
							{{ perfil.texto }}</h2>
						</header>
						<p>{{ perfil.apresent }}</p>

					</section>
				{% endfor %}

				<!-- Two -->
					<section id="two">
						<h2>Postagens</h2>
						<div class="row">
							{% for post in posts %}
								<article class="col-6 col-12-xsmall work-item">
									<a href="{{ post.imagem.url }}" class="image fit thumb"><img
											src="{{ post.imagem.url }}" alt="" /></a>
									<h3>{{ post.title }}</h3>
									<p>{{ post.sub_title }}</p>

									<ul class="actions">
										<li><a href="{% url 'post_detail' post.id %}" class="button">Leia Mais</a></li>
									</ul>
								</article>
							{% endfor %}

						</div>
					</section>

				<!-- Three -->
					<section id="three">
						<h2>SOLICITAR COTAÇÃO</h2>
						<div class="row">
							<div class="col-8 col-12-small">
								<form method="post" action="{% url 'save_form' %}">
									{% csrf_token %}
									<div class="row gtr-uniform gtr-50">
										<div class="col-6 col-12-xsmall"><input type="text" name="name" id="Nome" placeholder="Name" /></div>
										<div class="col-6 col-12-xsmall"><input type="text" name="fone" id="fone" placeholder="Telefone" /></div>
										<div class="col-12"><input type="email" name="email" id="E-mail" placeholder="Email" /></div>
										<div class="col-12"><textarea name="message" id="message" placeholder="Como podemos ajudar?" rows="4"></textarea></div>
									</div>
									<br>
									<ul class="actions">
										<li><input type="submit" value="Enviar" /></li>
									</ul>
								</form>

							</div>
							<div class="col-4 col-12-small">
								{% for perfil in perfil %}
									<ul class="labeled-icons">
										<li>
											<h3 class="icon solid fa-home"><span class="label">Address</span></h3>
											{{perfil.endereco}}<br />
											{{perfil.bairro}}<br />
											{{perfil.cidade}}/{{perfil.estado}}
										</li>
										<li>
											<h3 class="icon solid fa-mobile-alt"><span class="label">Phone</span></h3>
											<li><a href="https://wa.me/message/O243K5ANNTQ4J1" target="_blank"  ><span class="label" >{{perfil.nrTelCelular}}</span></a></li>

										</li>
										<li>
											<h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
											<a href="#">{{perfil.email}}</a>
										</li>
									</ul>
								{% endfor %}
							</div>
						</div>
					</section>

			</div>

</html>


{% endblock %}