{% extends 'base.html' %}
{% block content %}

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>{{ post.title }}</h2>
                            <h4>{{ post.sub_title }}</h4>
						</header>

						<article class="col-6 col-12-xsmall work-item">
							<a href="{{ post.imagem.url }}" class="image fit thumb"><img
								src="{{ post.imagem.url }}" alt="" /></a>

						</article>
						   <p>{{ post.content }}</p>


						<ul class="actions">
                            <li><a href="{% url 'home_blog' %}" class="button">voltar</a></li>
                        </ul>
					</section>

			</div>

{% endblock %}